<h1>Listing phrases</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Phrase</th>
    <th>Translation</th>
    <th>Categoty</th>
  </tr>

<%= will_paginate @phrases, renderer: BootstrapPagination::Rails %>
      <%= render "phrases/partial" %>


</table>