nav.navbar1.navbar-dark.bg-dark
  - if signed_in?
    li
      =li= link_to "Home", root_path
    li
      =li= link_to "Users", users_path
      li
      =li= link_to "Create Phrase", new_phrase_path
    li
      =li= link_to "View Profile", user_path(current_user)
    li
      =li= link_to "Edit Profile", edit_user_registration_path
    li
      =li= link_to notifications_path do
        - if current_user.has_new_notifications?            
          span.circlenav
        ' Notifications
    li
      =li= link_to "Sign Out", destroy_user_session_path, method: "delete"
  - else
    li
      =li= link_to "Sign In", new_user_session_path
    li
      =li= link_to "Sign Up", new_user_registration_path

= javascript_pack_tag 'notification' 
      

      